body {
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 20px;
}

.one {
  
  background-color:rgb(132, 186, 214);
  height: 800px;;
  width:100%;
  position:absolute;
  
}

.middle-container {
  background-color:rgb(132, 186, 214);
  position: absolute;
  top:800px;
  width: 100% ;
  border-top: dotted;
  border-bottom: dotted;
  border-width: 10px;
  
}

.bottom-container {
  background-color:rgb(139, 65, 22);
  width:100%;
  position: absolute;
  top:1844px;
}
h1 {
  margin:0;
  line-height: 2;
  font-family: 'Sacramento';
  color:black;

}

p {
  margin:0;
  font-size:20px;
  font-family: 'Montserrat', sans-serif;
  font-weight:normal;
}

.bcloud {
  position:absolute;
  
}

.tcloud {
  position:relative;
  left:20%;
}

.mountain {
  height: 500px;
  width: 750px;;
 
}

h2 {
  font-size: 2.5rem;
  color: black;
}

h3 {
  color: #11999E;
}

a {
  color:#11999E;
}

.photo {
  height:150px;
  width:120px;
}

.img1 {
  height:150px;
  width:150px;
}