body {
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 20px;
}

.title {
  background-color: #d1e7dd;
  height: 130px;
  width: 100%;
  position:fixed;
  top: 0;
  bottom: 0;
  z-index: 1;
  
}

.title p {
  font-size: 40px;
  float: left;
  padding-top: 25px;
  margin-left: 10px;
}
.photos {
  float:right;
  margin-right: 20px;
  padding-top: 52px;
}

.cert {
  float:right;
  margin-right: 20px;
  text-align: center;
  padding-top: 52px;
}



.middle-container {
  background-color:#EAF6F6;
  position: absolute;
  top:80px;
  width: 100% ;
  margin:50px 0;
}

.skills h2 {
  width:50% ;
  margin:60px auto 50px auto;
  text-align: left;
}

.skill-row {
  width:50%;
  margin:50px auto 50px auto;
  text-align:left;
}

.img1 {
  float: right;
  margin-right: 20px;
  height:40px;
  width: auto;

}

.contact-me {
  margin: 80px auto 80px auto;

}

.bottom-container {
  background-color:rgb(139, 65, 22);
  width:100%;
  position: absolute;
  top:1080px;
}


h1 {
  margin:0;
  line-height: 2;
  font-family: 'Sacramento';
  color:black;

}

p {
  margin:0;
  font-size:20px;
  font-family: 'Montserrat', sans-serif;
  font-weight:normal;
  line-height: 2;
}



h2 {
  font-size: 2.5rem;
  color: black;
}

h3 {
  color: #11999E;
}

a {
  color:#11999E;
  padding: 10px;
}

.photo {
  height:150px;
  width:120px;
}


